.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.center-vertically {
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column; /* To stack content vertically */
  text-align: center; /* Center text horizontally */
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .col-6 {
    flex: 0 0 100%; /* On smaller screens, make columns take up full width */
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  div#termynal-expressive-sql {
    left: 0;
  }
}
