# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[tool.poetry]
name = "pyiceberg"
version = "0.2.0.dev0"
readme = "README.md"
homepage = "https://iceberg.apache.org/"
repository = "https://github.com/apache/iceberg/"
description = "Apache Iceberg is an open table format for huge analytic datasets"
authors = ["Apache Software Foundation <dev@iceberg.apache.org>"]
license = "Apache License 2.0"

classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10"
]

packages = [
    { include = "pyiceberg" },
    { from = "vendor", include = "fb303" },
    { from = "vendor", include = "hive_metastore" },
    { include = "tests", format = "sdist" },
    { include = "dev/check-license", format = "sdist" },
    { include = "Makefile", format = "sdist" },
    { include = "NOTICE", format = ["sdist", "wheel"] }
]


[tool.poetry.dependencies]
python = "^3.8"
mmh3 = "^3.0.0"
requests = "^2.28.1"
click = "^8.1.3"
rich = "^12.5.1"
pyyaml = "^6.0.0"

pydantic = "^1.10.2"
fsspec = "2022.8.2"

zstandard = "^0.18.0"

pyarrow = { version = "^9.0.0", optional = true }

python-snappy = { version = "^0.6.1", optional = true }

thrift = { version = "^0.16.0", optional = true }

s3fs = { version = "2022.8.2", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"
pytest-checkdocs = "^2.9.0"
pre-commit = "^2.0.0"
fastavro = "^1.6.1"
coverage = { version = "^6.5.0", extras = ["toml"] }
requests-mock = "^1.9.3"

[tool.poetry.scripts]
pyiceberg = "pyiceberg.cli.console:run"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
pyarrow = ["pyarrow"]
snappy = ["python-snappy"]
hive = ["thrift"]
s3fs = ["s3fs"]

[tool.pytest.ini_options]
markers = [
    "s3: marks a test as requiring access to s3 compliant storage (use with --aws-access-key-id, ----aws-secret-access-key, and --endpoint-url args)"
]

[tool.black]
line-length = 130
target-version = ['py38']

[tool.isort]
src_paths = ["pyiceberg/", "tests/"]
multi_line_output = 3
profile = 'black'
line_length = 130
force_grid_wrap = 4

[tool.pycln]
all = true

[tool.mypy]
no_implicit_optional = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "pyarrow.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "snappy.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "zstandard.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pydantic.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "pytest.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "fastavro.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "mmh3.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "hive_metastore.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "thrift.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "requests_mock.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "click.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "rich.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "fsspec.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "s3fs.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "packaging.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "tests.*"
ignore_missing_imports = true

[tool.coverage.run]
source = ['pyiceberg/']
