/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.center img {
  position: absolute;
  left: 50%;
  padding-left: 600px;
}

.navbar-brand:before {
  content: ' ';
  display: block;
  background: url("/img/favicon-96x96.png") no-repeat;
  background-size: cover;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  float: left;
}

.navbar-right {
  display: none;
}

.navbar-brand {
  margin-right: 1em;
}

.floating {
  float: right;
}

.headerlink {
  padding-left: 1em;
  opacity: 0;
}

.navbar {
  background-color: #F2F2F2;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #B8E1F3;
}

.wm-top-tool-expanded {
  position: absolute;
  right: 0px;
  padding: inherit;
  width: 100%;
  background-color: #21252B;
}

h2, h3, h4 {
  margin-top: 2em;
}

h2:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h3:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h4 {
  font-weight: 500;
  font-size: 22px;
}

h4:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h5:target .headerlink {
  color: #008cba;
  opacity: 1;
}

code {
  color: #458;
}

pre {
  width: max-content;
  min-width: 60em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.admonition {
  margin: 0.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  padding: 0.5em;
  padding-left: 1em;
}

.spec-img {
  float: right;
  max-width: 50%;
  min-width: 265px;
  margin: 1em 0 1em 2em;
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  color: #2879BE;
}

.dropdown-content-wrapper {
  position: absolute;
  padding-top: 16px;
}

.dropdown-content {
  display: none;
  background-color: #F2F2F2;
  min-width: 100px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  border-style: solid;
  border-color: #999999;
  border-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
}

.dropdown-content span:hover {background-color: #F1F1F1}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
  color: black;
  text-decoration: none;
  outline: none;
}

.wm-top-title {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  color: black;
}

.wm-version-dropdown a {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  color: black;
}

.wm-version-dropdown:after {
  content: '\A';
  white-space: pre;
}

.wm-version-dropdown:hover {
  color: #2879BE;
  text-decoration: none;
}

.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
  color: black;
  text-decoration: none;
}

.top-right-nav-item {
  height: 50px;
  padding-left: 10px;
  white-space: nowrap;
}

.top-center-nav-warning {
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  padding-left: 20px;
  z-index: -1;
}

.wm-toc-opener > .wm-toc-text::before {
  content: initial;
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  width: 14px;
}

.wm-toc-opener.wm-toc-open > .wm-toc-text::before {
  content: initial;
}

#hideable-navs{
  display: block;
}

/* Get rid of topbar links when screen width shrinks */
@media (max-width: 960px)
{
  #hideable-navs
  {
    display: none;
  }
}

@media (max-width: 1536px)
{
  #not-latest-version-warning
  {
    display: none;
  }
}

.navigation-icon {
  height: 1em;
}