/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.center img {
  position: absolute;
  left: 50%;
  padding-left: 600px;
}

.navbar-brand:before {
  content: ' ';
  display: block;
  background: url("/img/favicon-96x96.png") no-repeat;
  background-size: cover;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  float: left;
}

.navbar-right {
  display: none;
}

.navbar-brand {
  margin-right: 1em;
}

.floating {
  float: right;
}

.headerlink {
  padding-left: 1em;
  opacity: 0;
}

.navbar {
  background-color: #F2F2F2;
}

.wm-toc-li.wm-current, .wm-toc-li.wm-current:hover {
  background-color: #B8E1F3;
}

.wm-top-tool-expanded {
  position: absolute;
  right: 0px;
  padding: inherit;
  width: 100%;
  background-color: #21252B;
}

.wm-toc-text {
  font-size: 18px;
  padding: 8px;
}

.wm-page-toc-text {
  font-size: 1.4rem;
  padding: 3px 3px 3px 1.2rem;
}

h2, h3, h4 {
  margin-top: 2em;
}

h2:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h3:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h4 {
  font-weight: 500;
  font-size: 22px;
}

h4:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h5:target .headerlink {
  color: #008cba;
  opacity: 1;
}

code {
  color: #458;
}

pre {
  width: max-content;
  min-width: 60em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.admonition {
  margin: 0.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  padding: 0.5em;
  padding-left: 1em;
}

.spec-img {
  float: right;
  max-width: 50%;
  min-width: 265px;
  margin: 1em 0 1em 2em;
}

.wm-toctree a, .wm-toctree a:visited, .wm-toctree a:hover, .wm-toctree a:focus {
  color: black;
  text-decoration: none;
  outline: none;
}

.wm-top-title {
  display: inline-block;
  line-height: 16px;
  vertical-align: middle;
  color: black;
}

.wm-top-link, .wm-top-link:hover, .wm-top-link:active, .wm-top-link:visited, .wm-top-link:focus {
  color: black;
  text-decoration: none;
}

.top-right-nav-item {
  height: 50px;
  padding-left: 10px;
  white-space: nowrap;
  font-size: 18px;
}

.top-right-nav-item a {
  color: #000000;
}

.top-right-nav-item a:hover {
  transition: color 0.1s ease;
  color: #277ABE;
  text-decoration: none;
}

.wm-toc-opener > .wm-toc-text::before {
  content: initial;
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  width: 14px;
}

.wm-toc-opener.wm-toc-open > .wm-toc-text::before {
  content: initial;
}

#hideable-navs{
  display: block;
}

/* Get rid of topbar links when screen width shrinks */
@media (max-width: 1024px)
{
  #hideable-navs
  {
    display: none;
  }
}

.navigation-icon {
  height: 1em;
}

.topbar-icon {
  height: 32px;
}

/*Navigation fa icons*/
.fa-table {
  color: #000000;
}

.fa-cogs {
  color: #000000;
}

.fa-handshake-o {
  color: #000000;
}

.fa-object-ungroup {
  color: #000000;
}

#index-page-logo {
  background: rgba(0, 0, 0, 0);
  border: 0;
}

.spark-orange {
  color: #E25A1D;
}