/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.navbar-brand:before {
  content: ' ';
  display: block;
  background: url("/img/favicon-96x96.png") no-repeat;
  background-size: cover;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  float: left;
}

.navbar-right {
  display: none;
}

.navbar-brand {
  margin-right: 1em;
}

.floating {
  float: right;
}

.headerlink {
  padding-left: 1em;
  opacity: 0;
}

h2, h3, h4 {
  margin-top: 2em;
}

h2:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h3:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h4 {
  font-weight: 500;
  font-size: 22px;
}

h4:target .headerlink {
  color: #008cba;
  opacity: 1;
}

h5:target .headerlink {
  color: #008cba;
  opacity: 1;
}

code {
  color: #458;
}

pre {
  width: max-content;
  min-width: 60em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.admonition {
  margin: 0.5em;
  margin-top: 1.5em;
  margin-left: 1em;
  padding: 0.5em;
  padding-left: 1em;
}

.spec-img {
  float: right;
  max-width: 50%; 
  min-width: 265px; 
  margin: 1em 0 1em 2em;
}