name: Check Markdown docs links

on:
  push:
    paths:
      - docs/**
    branches:
      - 'main'
  pull_request:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
