#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

name: "Python CI"
on:
  push:
    branches:
    - 'master'
    - '0.**'
    tags:
    - 'apache-iceberg-**'
  pull_request:
    paths:
    - '.github/workflows/python-ci.yml'
    - 'python/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  lint-and-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ['3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      working-directory: ./python
      run: make install-poetry
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
        cache: poetry
        cache-dependency-path: |
          ./python/poetry.lock
    - name: Install
      working-directory: ./python
      run: make install-dependencies
    - name: Linters
      working-directory: ./python
      run: make lint
    - name: Tests
      working-directory: ./python
      run: make test-coverage
